*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width:100vw;
  min-height: 100vh;
  background: rgb(151,195,255);
  background: linear-gradient(90deg, rgba(151,195,255,1) 0%, rgba(118,195,254,1) 47%, rgba(138,236,255,1) 100%);
  color:white;
}
